.Checkout {
    padding: 10px;
    margin: 10px;
    text-align: center;
}
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
.input {
    padding: 10px;
    padding-right: 1000px;
    margin: 10px 0px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#date {    
    padding: 10px;
    padding-right: 460px;
    margin: 10px;
}

#cvv {
  padding: 10px;
  padding-right: 510px;
  margin: 10px;}

button {
    margin-top: 50px;
    padding: 20px 400px;
}

#code {
  padding-right: 1107px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#date-cvv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}  